<div class="mui-container">
  Built by <a href="https://viveksingh.tech" target='_blank'>Rana vivek singh</a>.
  <span class="mui--pull-right">
    &copy; 2021 <a href="https://viveksingh.tech" target="_blank">RVS</a>
  </span>
</div>